#background-div {
    background-image: url("https://www.mdais.org/media/4592/%D7%A0%D7%99%D7%99%D7%93%D7%95%D7%AA-%D7%9C%D7%90%D7%91%D7%98%D7%97%D7%94.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    background-color: red;
}

#content {
    opacity: 1;
    text-align: center;
    
    h1 {
        color: rgb(255, 0, 0)
    }


    #ambulance-number, #name {
        direction: rtl;
        padding: 0 0 10px 0;
        
        label {
            padding: 0 0 0 15px;
        }

    }
}

